In [4]:
import pandas as pd
 
#Loading and parsing the CSV file (default delimiter is the comma) from the current directory
dcsv = pd.read_csv(r"C:\Users\Sonal\Employee.csv")
 
#Loading and parsing the CSV file (default delimiter is the comma) from a different directory
dcsv = pd.read_csv(r"C:\Users\Sonal\Employee.csv")
 
#Ignoring the column names in the file (on row 1) by removing the header
dcsv = pd.read_csv(r"C:\Users\Sonal\Employee.csv", header = None)
 
#Ignoring the column names in the file (on row 1) by removing the header and setting alternative names
dcsv = pd.read_csv(r"C:\Users\Sonal\Employee.csv", header = None, names = ["A", "B", "C", "D", "E", "F", "G", "H"])
 
#Adding a prefix to each default column name (e.g. COL1 instead of 1)
dcsv = pd.read_csv(r"C:\Users\Sonal\Employee.csv", header = None, prefix = "COL")
 
#Setting a column as the table index
dcsv = pd.read_csv(r"C:\Users\Sonal\Employee.csv")

In [5]:
dcsv

,ID,FirstName,LastName,Department,Phone,Address,Salary,Skills
0,1,Luke,Phillip,Sales,1234567890,"1st Address, Miami",52000,Online Sales
1,2,Jack,Darren,IT,1234567891,"2nd Address, Miami",52200,Networking
2,3,Ken,Wood,IT,1234567892,"3rd Address, Miami",58000,"Python, Java"
3,4,John,Wilson,Marketing,1234567893,"4th Address, Miami",58700,Facebook Ads
4,5,Emily,Larson,Marketing,1234567894,"5th Address, Miami",60000,Instagram Ads
5,6,Anna,Sullivan,Sales,1234567895,"6th Address, Miami",54000,In-Person Sales
6,7,Richard,Smith,Logistics,1234567896,"7th Address, Miami",56000,Warehouse Mgmt.
7,8,Ronnie,Moore,Sales,1234567897,"8th Address, Miami",49000,Online Sales
8,9,Ron,Drake,IT,1234567898,"9th Address, Miami",53000,Linux Servers
9,10,Wayne,Barker,Logistics,1234567899,"10th Address, Miami",59500,Product Loading